__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.pytest_cache/
.vscode/
.idea/

tmc/
/devops-with-docker/example-frontend/node_modules
/devops-with-docker/example-backend
/devops-with-docker/example-backend
/devops-with-docker/example-backend
