services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./database:/var/lib/postgresql
    networks:
      - app-network
      
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
      
  backend:
    image: example-backend:latest
    container_name: go-backend
    environment:
      - PORT=8080
      - REQUEST_ORIGIN=http://localhost
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DATABASE=postgres
    depends_on:
      - redis
      - db
    networks:
      - app-network
      
  frontend:
    image: example-frontend:latest
    container_name: react-frontend
    environment:
      - REACT_APP_BACKEND_URL=/api
    depends_on:
      - backend
    networks:
      - app-network
      
  redis:
    image: redis
    container_name: redis
    networks:
      - app-network
      
networks:
  app-network:
    driver: bridge