version: "3.8"

services:
  backend:
    image: example-backend:latest
    container_name: go-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - REQUEST_ORIGIN=http://frontend:5000
    networks:
      - app-network

  frontend:
    image: example-forntend:latest
    container_name: react-frontend
    ports:
      - "5000:5000"
    environment:
      - REACT_APP_BACKEND_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge